---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "whoami",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I really should take some time to write out this, but in the fear that no one really needs this information.
			I'll just give the highlights about who i am
		</p>
		<div class="flex justify-center">
			<Image src={aboutImg} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
		<p>Here I am in a short point form:</p>
		<ul class="list-disc list-inside">
			<li>Computer Science dagree, special in Java and .net</li>
			<li>Worked as Technical Support, aswell as Technical Support for Technical Support (Senior Supportor)</li>
			<li>Infrastructure Consultant</li>
			<li>Powershell Scripter, aswell as bash</li>
			<li>Mac MDM Specialist</li>
			<li>Powerplatform Consultant</li>
		</ul>
		<p>
			
		</p>
	</div>
</PageLayout>
